
colorama              
cryptography          
cycler                
debugpy               
decorator             
distro                
Django                
django-crispy-forms   
django-jazzmin        
docker                
docker-compose        
dockerpty             
docopt                
entrypoints           
executing             
sqlparse              
stack-data            
tabulate              
texttable             
tornado               
traitlets             
tzdata                
urllib3               
values                
Wave                  
wavefile              
wcwidth               
websocket-client      
Werkzeug              
write                 
zipp    

      
Flask  
Pillow      